<CENTER><H2> Data Transfer Time from Database Tables to Client (Pandas)  </H2></CENTER>

In this Python worflow we take a look at the amount of time it takes for a typical client-based workflow to extract data from the database for the user to analyze the data and build models.

For this purpose, we will explore the Montreal Bixi biking data set for the year 2017 https://www.kaggle.com/aubertsigouin/biximtl/data

We are using the Pandas package with default settings for database connection to transfer data.

Import required pacakges.

In [1]:
import pandas.io.sql as psql;
import pandas as pd;
import pymonetdb.sql;

Database connection information. We will use the default connection buffer settings etc for this workflow.
<!--
host='cerberus'; dbname='demo'; user='demo'; passwd='demo'; port=50000;

host='192.168.10.10'; dbname='demo'; user='demo'; passwd='demo'; port=50000;

host='bmj.cluster.cs.mcgill.ca'; dbname='demo'; user='demo'; passwd='demo'; port=27500;
host='bmj.cluster.cs.mcgill.ca'; dbname='demo'; user='demo'; passwd='demo'; port=28500;
-->

In [2]:
host='cerberus'; dbname='demo'; user='demo'; passwd='demo'; port=50000;

Connect to the database.

In [3]:
con = pymonetdb.Connection(dbname,hostname=host,port=port,username=user,password=passwd,autocommit=True);

Let us take a peek into trip data.
For this purpose, we will create a pandas dataframe that we can reuse later.

In [4]:
%%time
tripdata2017 = pd.DataFrame(psql.read_sql_query('SELECT * FROM tripdata2017;', con));

CPU times: user 3min 24s, sys: 3.76 s, total: 3min 28s
Wall time: 3min 54s

In [5]:
%%time
print(tripdata2017.head());

   id             starttm  stscode               endtm  endscode  duration  \
0   0 2017-04-15 00:00:00     7060 2017-04-15 00:31:00      7060      1841
1   1 2017-04-15 00:01:00     6173 2017-04-15 00:10:00      6173       553
2   2 2017-04-15 00:01:00     6203 2017-04-15 00:04:00      6204       195
3   3 2017-04-15 00:01:00     6104 2017-04-15 00:06:00      6114       285
4   4 2017-04-15 00:01:00     6174 2017-04-15 00:11:00      6174       569

   ismember
0         1
1         1
2         1
3         1
4         1
CPU times: user 16 ms, sys: 0 ns, total: 16 ms
Wall time: 21 ms

We can also see the distribution of values and statistical characteristics of this data set.

In [6]:
%%time
print(tripdata2017.describe());

                 id       stscode      endscode      duration      ismember
count  4.018721e+06  4.018721e+06  4.018721e+06  4.018721e+06  4.018721e+06
mean   2.009360e+06  6.324815e+03  6.319868e+03  8.374505e+02  7.992535e-01
std    1.160105e+06  3.758616e+02  3.832840e+02  6.577148e+02  4.005588e-01
min    0.000000e+00  5.002000e+03  5.002000e+03  6.100000e+01  0.000000e+00
25%    1.004680e+06  6.105000e+03  6.092000e+03  3.820000e+02  1.000000e+00
50%    2.009360e+06  6.203000e+03  6.195000e+03  6.700000e+02  1.000000e+00
75%    3.014040e+06  6.389000e+03  6.394000e+03  1.121000e+03  1.000000e+00
max    4.018721e+06  1.000200e+04  1.000200e+04  7.199000e+03  1.000000e+00
CPU times: user 980 ms, sys: 60 ms, total: 1.04 s
Wall time: 1.05 s

Let us take a look at the stations information dataset, which is a bit smaller.

In [7]:
%%time
stations2017 = pd.DataFrame(psql.read_sql_query('SELECT * FROM stations2017;', con));
print(stations2017.head());
print(stations2017.describe());

   scode                      sname  slatitude  slongitude  sispublic
0   7060  "de l'Église / de Verdun"  45.463001  -73.571569          1
1   6173         "Berri / Cherrier"  45.519088  -73.569509          1
2   6203   "Hutchison / Sherbrooke"  45.507810  -73.572080          1
3   6204        "Milton / Durocher"  45.508144  -73.574772          1
4   6104    "Wolfe / René-Lévesque"  45.516818  -73.554188          1
              scode   slatitude  slongitude   sispublic
count    546.000000  546.000000  546.000000  546.000000
mean    6412.743590   45.519109  -73.582622    0.983516
std      405.396125    0.027919    0.027344    0.127442
min     5002.000000   45.430740  -73.670634    0.000000
25%     6143.500000   45.501726  -73.599579    1.000000
50%     6305.500000   45.523103  -73.577413    1.000000
75%     6722.750000   45.538784  -73.564608    1.000000
max    10002.000000   45.582757  -73.495067    1.000000
CPU times: user 36 ms, sys: 8 ms, total: 44 ms
Wall time: 60.7 ms

In [8]:
con.close();
con=None;